.main
  .main__vbox
    = video_tag "/videos/citybg.mp4", loop: true, autoplay: true, muted: true, class: "main__vbox__video"
    .main__vbox__top-menu
    .main__vbox__center-menu
      %p Guide あぷり
      %ul.top-login-links
        %li
          = link_to "メールで登録", root_path, class: "top-login-links__link"
        %li
          = link_to "FaceBookで登録", root_path, class: "top-login-links__link"
        %li
          = link_to "Googleで登録", root_path, class: "top-login-links__link"

  .main__second
    %p test