.map-header {
  height: $header_height;
}
.map-wrapper {
  width: 100vw;
  // height: calc(100vh - #{$header_height});
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  &__in {
    p{
      color: red;
    }
  }
}
#map {
  height: 600px;
  width: 100vw;
  background-color: #ccc;
}