.map-header {
  height: $header_height;
}
.map-wrapper {
  width: 100%;
  display: flex;
  &__in {
    p{
      color: red;
    }
  }
  #map {
    height: 600px;
    width: 100vw;
    background-color: #ccc;
  }
  #list {
    width: 30%;
  }
}