.map-header
.map-wrapper
  .show-map#map
  .active-list-wrapper#list
    .active-list-pilots
      .pilot-image
        = image_tag 'IMG_9744.png'
      .pilot-info
        %p.pilot-name
          kartman
        %p.pilot-message
          = link_to 'メッセージ送信', '#'
    %p.pilot-details
      Lorem ipsum dolor sit.
= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ @gmap_key }"